/*

COLOR KEY

  PRIMARY

  #f26724 - TC Orange
  #646469 - TC Dark Grey
  #07213a - TC Blue


  SECONDARY

  #06213b - TC Dark Blue
  #2878b7 - TC Light Blue
  #cccbcb - TC Light Grey

*/


/* Stylings for creating vertical spaces. */
.vspace-xs {
    margin-top: 1%;
}

.vspace-sm {
    margin-top: 2%;
}

.vspace-md {
    margin-top: 3%;
}

.vspace-lg {
    margin-top: 5%;
}
/* End stylings for creating vertical spaces. */

/* Adding styling for growl messages. */
.success-growl {
    background-color: #58b957;
    font-size: 1.5em;
}

.warning-growl {
    background-color: #f2ae43;
    font-size: 1.5em;
    color: black;
}

.failure-growl {
    background-color: #db524b;
    font-size: 1.5em;
}
/* End stylings for growl messages. */
